.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .register-form {
    border: 1px solid gray;
    padding: 30px;
    border-radius: 5%;
    width:25%;
    /* height:55vh; */
  }